@use "./variables.scss" as *;

// put your custom CSS here!

#quartz-body {
  width: min(100%, 1400px) !important;
  max-width: min(100%, 1400px) !important;
  margin-left: auto;
  margin-right: auto;
}

body[data-slug="index"] {
  .article-title,
  .content-meta {
    display: none;
  }
}
