@use "./variables.scss" as *;

// put your custom CSS here!

#quartz-body {
  width: min(100%, 1400px) !important;
  max-width: min(100%, 1400px) !important;
  margin-left: auto;
  margin-right: auto;
}

body[data-slug="index"] {
  .article-title,
  .content-meta {
    display: none;
  }
}

.left.sidebar .flex-component {
  .search-button svg,
  .darkmode svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  > div:has(.page-title) {
    flex-grow: 1;
  }

  > div:has(.search),
  > div:has(.darkmode) {
    flex-grow: 0;
  }
}

.left.sidebar .flex-component {
  .search-button {
    background: none;
    border: none;
    padding: 0;
    width: auto;

    p {
      display: none;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

body[data-slug="index"] {
  img {
    width: 100%;
    height: auto;
  }
}
